@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    background: #e5e5e5;
}

/* header */
header {
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    height: auto
}

.nav-center,
.footer-center {
    background: url("./../images/logo-bcg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-header {
    background: #fff;
    height: 100px;
    padding-top: 20px;
}

.togle-btn {
    padding: 2px;
    display: inline-block;
    align-self: center;
    margin-right: 40px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    margin: 7px;
    background: #EBCACA;
}

.nav-hidden {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: black */
}

.nav-header nav {
    display: none
}

.nav-header nav ul {
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    font-family: "Lora";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #534533;
    display: block;
    padding: 10px;
    transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul li a:hover {
    color: #fff;
    background: #534533;
    padding: 5px
}

.logo {
    font-family: "Alex Brush", cursive;
    font-size: 25px;
    line-height: 25px;
    color: #314455;
}

.logoBtn {
    margin-left: 20px;
}

.logoBtn li {
    list-style-type: none;
}

@media screen and (min-width:772px) {

    .togle-btn,
    .logoBtn {
        display: none;
    }

    .nav-header nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-left,
    .nav-right {
        display: flex;
    }
}

/* banner section  mobile*/
.banner img,
.stories img,
.services img {
    max-width: 300px;
    margin: 0 auto;
}

.banner {

    background-image: url("./../images/banner-bcg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(#edeae8 31.77%, #b16f44 100%);
}

.banner-text-wrapper {
    padding: 50px 30px 0 30px;
}

.welcome-text {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1c242c;
}

.banner-text h4 {
    font-size: 24px;
    line-height: 56px;
    text-transform: capitalize;
    font-family: "Sorts Mill Goudy", serif;
    color: #161b20;
}

.welcome-para {
    font-size: 16px;
    line-height: 38px;
    font-family: "pen-sans""Franklin Gothic Medium", "Arial Narrow", Arial;

}

.contact-btn {
    width: 160px;
    height: 60px;
    background: #534533;
    color: #fff;
    border-radius: 10px;
    font-family: "Lora"sans-serif;
    margin-top: 30px;
}

/* banner big screen */
@media screen and (min-width:772px) {
    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* stories */
.stories {
    margin-top: 30px;
}

.stories h1,
.about h1,
.services h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    color: #161b20;
    font-family: "Sorts Mill Goudy", serif;
    line-height: 72px;
}

.story-wrapper {
    background-image: url("./../images/story-flower-right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(#edeae8 31.77%, #b16f44 100%);
}

.top-1-text,
.top-2-text,
.top-right-text {
    height: 84px;
    width: 196px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-1-text {
    position: relative;
    top: 83px;
    left: 180px;
}

.story-top-2 {
    padding-top: 100px;
}

.top-2-text {
    position: relative;
    bottom: 220px;
    left: 180px;
}

.top-right-text {
    position: relative;
    top: 352px;
    left: 180px;
}

.stories img {
    padding-left: 20px
}

/* stories pc and tablet */
@media screen and (min-width:772px) {
    .story-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .top-1-text {
        position: relative;
        top: 84px;
        left: 250px;
    }

    .story-top-2 {
        padding-top: 100px;
    }

    .top-2-text {
        position: relative;
        bottom: 88px;
        left: 250px;
    }

    .top-right-text {
        position: relative;
        top: 220px;
        left: 250px;
    }

    .story-right {
        margin-right: 50px;
        padding-top: 250px;
    }
}

/* about us mobile */

.about {
    margin-top: 30px;
    text-align: center;
    background: #fff;
    padding-top: 10px
}

.about p {
    line-height: 24px;
    padding: 20px;
}

.about button {
    width: 257px;
    height: 60px;
    background: #534533;
    color: #fff;
    border-radius: 10px;
    font-family: "Lora"sans-serif;
    margin: 30px;
}

.about-wrapper {
    /* height: 450px; */
    border: 1px solid rgba(22, 27, 32, 0.5);
    border-radius: 40px;
    padding: 20px;
}

/* about us desktop */
@media screen and (min-width:772px) {
    .about {
        margin-top: 0px;
        height: 523px;
    }

    .about-wrapper {

        max-width: 1100px;
        margin: 40px auto;
    }
}

/* our services */
.service p {
    color: #534533;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    padding-top: 20px;
}

.service {
    max-width: 300px;
    margin: 40px auto;
}

.services h1 {
    font-size: 38px;
}

/* service pc */
@media screen and (min-width:772px) {
    .service-img-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* margin-top: 30px */
    }

    .stories h1,
    .about h1,
    .services h1 {
        padding-top: 20px;
    }
}

/* footer mobile */
.footer-nav-center{
    max-width: 160px;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    padding-bottom: 20px;
}
.footer-nav-center a{
    text-decoration: none;
    padding-top:30px
}
.footer-center .logo{
    text-transform: capitalize;
}
.footer{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.footer p{
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
}
.footer span{
    font-size: 14px;
    color: #534533;
}
.footer a{
    text-decoration: none;
    color: #534533
}
.logo{
    text-decoration: none
}
.nav-center{
    display: none;
}

/* footer pc */
@media screen and (min-width:772px) {
    .footer-nav-center{
        display: none;
    }
}