@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  background: #e5e5e5;
  max-width: 100%;
  overflow-x: hidden;
}

/* header */
header {
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  height: auto;
}


.nav-header {
  background: #fff;
  /* padding: 30px; */
  position: fixed;
  width: 100%;
}

.togle-btn {
  padding: 2px;
  display: inline-block;
  align-self: center;
  margin-right: 40px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  margin: 7px;
  background: #ebcaca;
}

.nav-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: black */
}

.nav-header #myLinks {
  display: none;
}

.nav-header nav ul {
  list-style-type: none;
  /* flex: 1 0 auto; */
}

nav ul li a {
  text-decoration: none;
  font-family: "Lora";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #534533;
  display: block;
  margin: 20px;
  padding: 5px;
  transition: color 1s ease, background 1s ease;
}

nav ul li a:hover {
  color: #fff;
  background: #534533;
  /* padding: 5px */
}

.logo {
  font-family: "Alex Brush", cursive;
  font-size: 32px;
  /* line-height: 41px; */
  color: #314455;
}

.logoBtn {
  margin-left: 20px;
  /* height: 60px; */
  padding-top: 15px;
  width: 180px;
  padding-left: 20px;
}

.logoBtn li {
  list-style-type: none;
}

@media screen and (min-width: 576px) {
  .togle-btn,
  .logoBtn {
    display: none;
  }

  .nav-header .myLinks {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-left,
  .nav-right {
    display: flex;
  }

  .nav-header {
    position: static;
  }
}

/* banner section  mobile*/
.banner img,
.stories img,
.services img {
  max-width: 320px;
  margin: 0 auto;
}

.banner {
  padding-top: 150px;
  background-image: url("./../images/banner-m.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(83, 69, 51, 0.5);
  text-align: center;
  height: 640px;
}

/* .banner-text-wrapper {
    padding: 50px 30px 0 30px;
} */

.welcome-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ebe6e1;
}

.banner-text h4 {
  font-size: 30px;
  line-height: 56px;
  text-transform: capitalize;
  font-family: "Sorts Mill Goudy", serif;
  color: #f4f4f4;
  font-weight: normal;
}

.welcome-para {
  font-size: 12.03px;
  line-height: 18px;
  font-family: "pen-sans" "Franklin Gothic Medium", "Arial Narrow", Arial;
  color: #ebe6e1;
  letter-spacing: 0.05em;
}

.contact-btn {
  width: 106px;
  height: 34px;
  background: #534533;
  color: #fff;
  border-radius: 6px;
  font-family: "Lora" sans-serif;
  margin-top: 30px;
  font-size: 12px;
}

.contact-btn:hover {
  background: #fff;
  color: #534533;
}
.banner-text {
  padding-top: 100px;
}

/* banner big screen */
@media screen and (min-width: 776px) {
  .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  }
  .banner-text {
    padding-top: 50px;
  }
  .banner-baby {
    /* width: 560px; */
    text-align: center;
    align-self: center;
  }

  .welcome-text {
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
  }

  .banner-text h4 {
    font-size: 54px;
    line-height: 78px;
  }

  .welcome-para {
    font-size: 16px;
    line-height: 24px;
    font-family: "pen-sans" "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    width: 450px;
  }

  .contact-btn {
    width: 160px;
    height: 60px;
    background: #534533;
    color: #fff;
    border-radius: 10px;
    font-family: "Lora" sans-serif;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px
  }
}


/* icon section */
.ico{
    /* margin-top: 30px; */
    background-color: #F9F5EF;
    height: 190px;
    width: 320px;
    margin: 30px auto;
    text-align: center;
    color: #1b1620;
}
.ico div{
    padding-top: 60px
}
.ico p{
    padding: 15px;
}


@media screen and (min-width:772px){
    .ico{
        width: 700px;
        margin: 40px auto
    }
}
/* stories and gallery */

.galleries h1,
.services h1{
    font-size: 24px;
    line-height: 32px;
    text-align:center;
    color: #161b20;
    padding: 20px
}

.gallery{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "item1 item2 item2 item3"
        "item1 item4 item5 item6"
}

.project-1{
    grid-area: item1;
    background: url("./../images/service1.png")center/cover  no-repeat
}
.project-2{
    grid-area: item2;
    background: url("./../images/2sure.jpg")center/cover no-repeat 
}
.project-3{
    grid-area: item3;
    background: url("./../images/project2.jpg")center/cover no-repeat
}
.project-4{
    grid-area: item4;
    background: url("./../images/habshaw.jpg")center/cover no-repeat
}
.project-5{
    grid-area: item5;
    background: url("./../images/projectn1.jpg")center/cover no-repeat
}
.project-6{
    grid-area: item6;
    background: url("./../images/Rectangle\ 132.png")center/cover no-repeat
}



.about {
  margin-top: 30px;
  text-align: center;
  background: #fff;
  padding-top: 10px;
}

.about p {
  font-size: 12px;
  line-height: 18px;
  padding: 20px;
  text-rendering: optimizeLegibility;
  text-align: center;
  text-orientation: initial;
  text-justify: auto;
}

.about button {
  width: 177px;
  height: 48px;
  background: #534533;
  color: #fff;
  border-radius: 10px;
  font-family: "Lora" sans-serif;
  margin: 30px;
  font-size: 12px;
  line-height: 15px;
}

.about button:hover {
  background: #fff;
  color: #534533;
}

.about-wrapper {
  /* height: 450px; */
  border: 1px solid rgba(22, 27, 32, 0.5);
  border-radius: 40px;
  padding: 20px;
}

/* about us desktop */
@media screen and (min-width: 772px) {
  .about {
    margin-top: 0px;
    height: 523px;
    text-align: center;
    background: #fff;
    padding-top: 10px;
  }

  .about h1,
  .service h1,
  .galleries h1 {
    font-size: 40px;
    line-height: 72px;
  }

  .about p {
    font-size: 16px;
    line-height: 24px;
  }

  .about button {
    width: 257px;
    height: 60px;
  }

  .about-wrapper {
    width: 1100px;
    max-width: 100%;
    margin: 20px auto;
  }
}

/* our services */
.service p {
  color: #534533;
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  padding-top: 20px;
}
/* 
.service {
    max-width: 320px;
    margin: 0 auto;
} */
.services h1 {
  font-size: 24px;
  line-height: 36px;
}
.service {
  max-width: 320px;
  margin: 0 auto;
}
.services img {
  width: 90%;
  height: 281px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.service p {
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 30px;
}

/* service pc */
@media screen and (min-width: 772px) {
  .service-img-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 30px */
  }
  .services h1 {
    font-size: 48px;
    line-height: 72px;
  }
}

/* footer mobile */
footer {
  height: 250px;
  background-color: #fff;
  margin-top: 40px;
  padding-top: 10px;
  border: 1px solid rgba(22, 27, 32, 0.5);
  border-radius: 40px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 180px;
  padding: 0 20px;
}

.footer-nav-center {
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  height: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer-nav-center a {
  text-decoration: none;
  padding-top: 30px;
}

.footer-center .logo {
  text-transform: capitalize;
}

.footer p {
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  padding: 20px 0;
  line-height: 21px;
}

.footer span {
  font-size: 14px;
  color: #534533;
}
.foot-left-bottom span a {
  font-size: 12px;
  line-height: 18px;
}
.footer a {
  text-decoration: none;
  color: #534533;
}

.logo {
  text-decoration: none;
}


.hide {
  display: none;
}

/* footer pc */
@media screen and (min-width: 772px) {
  .footer-nav-center {
    display: none;
  }

  .hide {
    display: inline-block;
    height: 60px;
    width: 200px;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: 15px;
  }
  .footer p {
    font-size: 18px;
    line-height: 36px;
  }

  .footer span {
    font-size: 14px;
    color: #534533;
  }
  .foot-left-bottom span a {
    font-size: 14px;
    line-height: 21px;
  }
}

/* @media screen and (min-width:776px) and (max-width:1100px){
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .story-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-1-text {
        position: relative;
        top: 84px;
        left: 250px;
    }


    .top-2-text {
        position: relative;
        bottom: 88px;
        left: 250px;
    }

    .top-right-text {
        position: relative;
        top: 220px;
        left: 250px;
    }
    .story-right {
        margin: auto;
        padding-top: 0!important;
    }
} */
